

*{
    text-align: center;
    justify-content: center;
}

.plantButton {
    margin-top: 3rem;
    padding:1rem 0.5rem 1rem 0.5rem;
    display:inline:block;
    border-radius: 1rem;
    margin-bottom: 3rem;    


}

button, input[type="button"] {
    background-color: #698A69;
    border-color: #698A69;
    color: white;
    width: 25%;
    border-radius: 4px;
    font-size: 24px;
}